apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-feed
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-feed
  template:
    metadata:
      labels:
        app: backend-feed
    spec:
      containers:
        - name: backend-feed
          image: duylkend/udagram-api-feed:v1
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: 64Mi
              cpu: 50
            limits:
              memory: 2048Mi
              cpu: 80
          envFrom:
            - configMapRef:
                name: env-configmap